nav { background-color: #7CACBC !important; }
i.starter-logo { padding-top: 1rem !important; }
ul.with-header { margin-top: 0 !important; }
.collection { margin: 0 !important; }

.bottom-sheet {
    border-top-left-radius: 10% !important;
    border-top-right-radius: 10% !important;
    padding-bottom: 35rem;
}

.modal-content {
    overflow: hidden;
}

.name { 
    font-size: 1.3rem !important;
    margin-top: 0 !important;
}

.align-text-icon {
    font-size:21px;
    line-height:24px;
}

.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.all-rounder {
    padding: 5% 5% 5% 5% !important;
}